@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap');
@import '../node_modules/bootstrap/scss/bootstrap';
@import './reset';
.container {
    margin: 0 auto;
    max-width: 1080px;
}
/**
T
**/
body {
    font-family: nunito, Arial, Helvetica, sans-serif;
    line-height: 1.4rem;
}
h1 {
    font-family: Nunito;
    color: #f1ceaa;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
}
h2 {
    font-size: 26px;
    line-height: 36px;
    font-family: Nunito;
    font-weight: 400;
    color: #fcf4ec;
}
h3 {
    font-size: 22px;
    line-height: 36px;
    font-family: Nunito;
    font-weight: 400;
    color: #805e3b;
}
h5 {
    line-height: 36px;
    font-family: Nunito;
    font-weight: 400;
    color: #805e3b;
    font-size: 18px;
}
.lume-dark {
    color: #805e3b;
    font-weight: 600;
}

// paralax

.prlx {
    /* Set a specific height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@import './landing';
